<dl>
  <dt>CODIGO:</dt>
  <dd>{{VMB.Elemento.id}}</dd>
  <dt></dt>
  <dt>FOTO:</dt>
  <dd>{{VMB.Elemento.foto}}</dd>
  <dt></dt>
  <dt>AUTOR:</dt>
  <dd>{{VMB.Elemento.autor}}</dd>
  <dt></dt>
  <dt>TITULO:</dt>
  <dd>{{VMB.Elemento.titulo}}</dd>
  <dt></dt>
  <dt>TEXTO:</dt>
  <dd>{{VMB.Elemento.texto}}</dd>
  <dt></dt>
  <dt>FECHA:</dt>
  <dd>{{VMB.Elemento.fecha}}</dd>
  <dt></dt>
  <dt>MEGUSTA:</dt>
  <dd>{{VMB.Elemento.megusta}}</dd>
</dl>
<p>
    <input type="button" value="Volver" (click)="VMB.cancel()">
</p>
